{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
    <h2>Добро пожаловать в Дашборд Медиклиник</h2>

    <!-- Форма фильтров -->
    <form method="get" action="">
        <label for="start_date">Начало периода:</label>
        <input type="date" id="start_date" name="start_date" value="{{ start_date }}">

        <label for="end_date">Конец периода:</label>
        <input type="date" id="end_date" name="end_date" value="{{ end_date }}">

        <label for="clinic">Клиника:</label>
        {% for clinic in clinics %}
            <label>
                <input type="checkbox" name="clinic" value="{{ clinic.id }}"
                    {% if clinic.id|stringformat:"s" in clinic_filter %}checked{% endif %}>
                {{ clinic.name }}
            </label>
        {% endfor %}

        <label for="payment_type">Вид оплаты:</label>
        {% for payment_type in payment_types %}
            <label>
                <input type="checkbox" name="payment_type" value="{{ payment_type.id }}"
                    {% if payment_type.id|stringformat:"s" in payment_type_filter %}checked{% endif %}>
                {{ payment_type.type }}
            </label>
        {% endfor %}

        <button type="submit">Применить фильтры</button>
    </form>

    <!-- Отладка данных -->
    <div>
        <h3>Даты:</h3>
        <p>{{ dates }}</p>
        <h3>Значения доходов:</h3>
        <p>{{ revenue_values }}</p>
    </div>

    <!-- Отображение интерактивного графика -->
    <div>
        {{ graph_html|safe }}
    </div>

{% endblock %}
