{% extends "base.html" %}
{% block title %}Dashboard Admin{% endblock %}
{% block content %}
    <h2>Dashboard Administration</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% if messages %}
            {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        {% endif %}
        <button type="submit" name="submit">Записать</button>
        {% if messages %}
            <button type="submit" name="overwrite">Перезаписать</button>
        {% endif %}
    </form>
{% endblock %}
